call vm_callTest02.func1 0
call vm_callTest02.func2 0

label END 
goto END 

function vm_callTest02.func1 0 
push constant 1
pop static 1 
return 

function vm_callTest02.func2 0 
push constant 1 
push constant 1
add 
pop static 0 
return 

